* {
	font-family: 'Overpass', sans-serif;
	margin: 0;
}

html {
	height: 100%;

}

body {
	height: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(216, 12%, 8%);
	color: white;
	
}
#imgstar {
	width: 15px;
	background: #1C232D;
	padding: 15px;
	border-radius: 30px;

}
.bigcontainer {
 	flex-direction: column;
	background-color: #1A1E26;
	width: 400px;
	border-radius: 30px;
	padding: 30px;
}

h2 {
	font-weight: 400;
	margin-top: 30px;
}

p {
	color: hsl(216, 12%, 54%);
	margin-top: 30px;
}

#rate {
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin-top: 30px;

}
#rate button {
	margin-right: 0;
	background-color: #1C232D;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color:hsl(216, 12%, 54%);
	border: none;
	font-size: 15px;
		
}

#submitbutton {
	background-color: hsl(25, 97%, 53%);
	color: white;
	text-transform: uppercase;
	padding: 15px;
	width: 302px;
	border-radius: 50px;
	letter-spacing: .2rem;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	border: none;
	display: flex;
}














